@import url('https://fonts.googleapis.com/css?family=Special+Elite');

.button {
  /* other styles */
  -webkit-filter: url("#filter");
  filter: url("/#filter");
}

.App {
  text-align: center;
  font-family: 'Special Elite', cursive;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.preload-images {
  background: url('./scary_moon_poster.png') no-repeat -9999px -9999px;
  background: url('./eviluators.png') no-repeat -9999px -9999px;
} 

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
