$primary-color: #cecece;
$secondary-color: #3b3d4a;
// $tertiary-color: #5c5edc;
$tertiary-color: green;
$sidebar-width: 300px;
 

.main-container {
  margin: 0 auto;
  // border-bottom: solid 1px $primary-color;
  height: 160px;
  width: 100vw;
  padding-right: 10px;
  padding-top: 10px;
  box-sizing: border-box;
  padding-left: $sidebar-width;
}
.main-title {
  color: $tertiary-color;
  text-align: center;
  margin-top: 10px;
  font-size: 24px;
  text-align: right;
  margin-bottom: 10px;
}
.main-percent {
  margin-top: 5px;
  font-size: 20px;
  margin-bottom: 5px;
  text-align: right;
  color: $primary-color;
}

.main-pass-fail-row {
  display: flex;
  margin: 0;
  flex-direction: row;
  justify-content: flex-end;
}

.main-row-item {

}

.pass-item {
  color: green;
}
.fail-item {
  color: red;
}