$sidebar-width: 300px;
$primary-color: #cecece;

.repos-container {
  width: 100vw;
  box-sizing: border-box;
  padding-left: $sidebar-width;
}
.repo-module {
  border: 1px outset rgba(206, 206, 206, 0.4);
  height: 200px;
  width: 200px;
  display: inline-block;
      box-sizing: border-box;
  margin: 10px;
  background-color: #1c1d22;
    vertical-align: middle;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  border-radius: 2%;
  opacity: 0.8;
  overflow: hidden;
  cursor: pointer;
}
.repo-module:hover {
  opacity: 1;
  border: 1px outset $primary-color;
  transition: opacity 0.4s, border 0.4s;
}
.repo-module:hover .repo-module-logo {
  opacity: 1;
  border-color: green;
  height: 105px;
  transition: height 0.2s, border-color 0.4s, opacity 0.4s;
}
.repo-container {
  width: 100%;
    display: block;
        box-sizing: border-box;
  list-style-type: disc;
  // display: flex;
  // flex-direction: row;
  // justify-content: center;
  // align-items: center;
  height: 100%;
  padding: 0;
  margin: auto;
}
.repo-module-text {
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  overflow-wrap: none;
  overflow: hidden;
  text-align: center;
  color: $primary-color;
}

.button {
  transition: background-color 0.1s ease-out;
  -webkit-filter: url("#filter");
  filter: url("/#filter");
}
.repo-module-logo {
  opacity: .4;
  border: 4px solid rgba(0, 128, 0, .1);
  border-radius: 50%;
  height: 100px;
}